*{
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
/*common button*/
.common-btn{
    background-color: #3535cc;
    padding: 12px 8px;
    font-weight: bold;
    font-size: 15px;
    color: white;
    border-radius: 12px;
    border: none;
}
header{
    background-color: aliceblue;
}
nav{
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
    padding: 15px 0;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
    align-items: center;
}
ul li a{
    text-decoration: none;
}